{{> navBar}}

<div class="log-container">
    <div class="log-title">
        <h1>Training Log</h1>
    </div>
    <div class="log-form">
        <form method="POST" action="http://web.engr.oregonstate.edu/~zhangluy/tools/class-content/form_tests/check_request.php">
            <fieldset>
                <legend>Add Workout</legend>
                <label>Date: 
                    <input type="date" name="date" id="date">
                </label>
                <label>Exercise: 
                    <input type="text" size="30" name="exercise" id="exercise">
                </label>
                <label>Weight (lb):
                    <input type="number" min="0" max="1000" name="weight" id="weight">
                </label>
                <label>Sets:
                    <input type="number" min="1" max="100" name="numSets" id="numSets">
                </label>
                <label>Reps:
                    <input type="number" min="1" max="100" name="numReps" id="numReps">
                </label>
                <input class="add-log" type="submit" value="Add">
            </fieldset>
        </form>
    </div>

    <div class="log-content">
        <table class="table table-dark">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Exercise</th>
                    <th scope="col">Weight (lb)</th>
                    <th scope="col">Sets</th>
                    <th scope="col">Reps</th>
                </tr>
            </thead>
            <tbody>
                {{#each workoutList}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.exercise}}</td>
                    <td>{{this.weight}}</td>
                    <td>{{this.numSets}}</td>
                    <td>{{this.numReps}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>